body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Serif Pro', serif;
}

.welcome {
    background-image: url('images/top-banner.png');
    background: red;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

.extra-ordinary {
    color: rgba(255, 178, 35, 0.911);
}

.flexible-container {
    display: flex;
    padding: 50px;
}

.head-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.flex-item {
    width: 50%;
    margin: 0 40px;
}

.flex-item img {
    width: 100%;
}

.flex-item p {
    color: dimgray;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(to left, orange , rgb(255, 95, 37));
    padding: 10px 45px;
    border-radius: 4px;
    margin-top: 60px;
    font-weight: 700;
    color: white;
}

#intern {
    border-left: 5px solid ;
    border-image: linear-gradient(to bottom, cyan, blue);
    border-image-slice: 1;

    padding: 20px;
    box-shadow: 5px 10px 40px dimgray;
    border-radius: 10px;
}

#hero-learner {
    border-left: 5px solid;
    border-image: linear-gradient(to top, rgb(245, 142, 94), rgb(168, 0, 0));
    border-image-slice: 1;

    padding: 20px;
    box-shadow: 5px 10px 40px gray;
    border-radius: 10px;

}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}

.big_dream {
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

footer p {
    text-align: center;
}